@{
    Layout = null;
    ViewData["Title"] = "Greetings Page";
}

<div class="text-center">
    <nav>
        <a a asp-controller="Home" asp-action="ClearCookies">Delete Stored Cookies</a>
    </nav>
    <sm>@ViewBag.cookie</sm>
</div>
<div>
    <form method='post'>
        <input type='text' name='name' placeholder='Enter name' />
        <select name='language'>
            <option value='English'>English</option>
            <option value='French'>French</option>
            <option value='Dutch'>Dutch</option>
            <option value='Japanese'>Japanese</option>
        </select>
        <input type='submit' value='Greet Me!'>
    </form>
</div>

